<p>
  <strong>Title:</strong>
  <%= @vendor.vendor_name %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @vendor.vendor_name %>
</p>

<p>
  <strong>Text:</strong>
  <%= @vendor.address %>
</p>

<p>
  <strong>Text:</strong>
  <%= @vendor.city %>
</p>

<p>
  <strong>Text:</strong>
  <%= @vendor.state %>
</p>

<p>
  <strong>Text:</strong>
  <%= @vendor.zip %>
</p>

<p>
  <strong>Text:</strong>
  <%= @vendor.vendor_part_number %>
</p>

<p>
  <strong>Text:</strong>
  <%= @vendor.part_charges %>
</p>

<p>
  <strong>Text:</strong>
  <%= @vendor.minimum_order %>
</p>

<p>
  <strong>Text:</strong>
  <%= @vendor.deliver_date %>
</p>
