<p>
  <strong>Title:</strong>
  <%= @part.number %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @part.description %>
</p>

<p>
  <strong>Text:</strong>
  <%= @part.price %>
</p>

<p>
  <strong>Text:</strong>
  <%= @part.mtd_sales %>
</p>

<p>
  <strong>Text:</strong>
  <%= @part.ytd_sales %>
</p>

<p>
  <strong>Text:</strong>
  <%= @part.units_on_hand %>
</p>

<p>
  <strong>Text:</strong>
  <%= @part.units_allocated %>
</p>

<p>
  <strong>Text:</strong>
  <%= @part.reorder_point %>
</p>