<% provide(:title, 'All territories')%>
<h1>All territories</h1>
<%= link_to 'New territory', new_territory_path %>
<table class="table table-striped">
  <tr>
    <th>name&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp   </th>
    <th>   number</th>
    <th colspan="3"></th>
  </tr>
 
  <% @territories.each do |territory| %>
    <tr>
      <td><%= territory.name %></td>
      <td><%= territory.number %></td>
      <td><%= link_to 'Edit', edit_territory_path(territory) %></td>
      <td><%= link_to 'Show', display_territory_path(territory) %></td>
    </tr>
  <% end %>
</table>

