<p>
  <strong>Title:</strong>
  <%= @salesrep.name %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @salesrep.number %>
</p>

<p>
  <strong>Text:</strong>
  <%= @salesrep.territorynumber %>
</p>

<p>
  <strong>Text:</strong>
  <%= @salesrep.commission_rate %>
</p>

<p>
  <strong>Text:</strong>
  <%= @salesrep.address %>
</p>

<p>
  <strong>Text:</strong>
  <%= @salesrep.city %>
</p>

<p>
  <strong>Text:</strong>
  <%= @salesrep.state %>
</p>

<p>
  <strong>Text:</strong>
  <%= @salesrep.zip %>
</p>

<p>
  <strong>Text:</strong>
  <%= @salesrep.mtd_sales %>
</p>

<p>
  <strong>Text:</strong>
  <%= @salesrep.ytd_sales %>
</p>

<p>
  <strong>Text:</strong>
  <%= @salesrep.mtd_commission %>
</p>

<p>
  <strong>Text:</strong>
  <%= @salesrep.ytd_commission %>
</p>

<p>
  <strong>Text:</strong>
  <%= @salesrep.commission_rate %>
</p>
