<p>
  <strong>Title:</strong>
  <%= @customer.number %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Text:</strong>
  <%= @customer.salesrepnumber %>
</p>

<p>
  <strong>Text:</strong>
  <%= @customer.address_line1 %>
</p>

<p>
  <strong>Text:</strong>
  <%= @customer.address_line2 %>
</p>

<p>
  <strong>Text:</strong>
  <%= @customer.city %>
</p>

<p>
  <strong>Text:</strong>
  <%= @customer.state %>
</p>

<p>
  <strong>Text:</strong>
  <%= @customer.zip %>
</p>

<p>
  <strong>Text:</strong>
  <%= @customer.mtd_sales %>
</p>

<p>
  <strong>Text:</strong>
  <%= @customer.ytd_sales %>
</p>

<p>
  <strong>Text:</strong>
  <%= @customer.current_balance %>
</p>

<p>
  <strong>Text:</strong>
  <%= @customer.credit_limit %>
</p>
